    <!-- hero-perfildev -->
    <section class="hero" id="home">
        <div class="container h100">
            <div class="content-hero content-100">
                <div id="" class="col-sm-6">
                    <h1 class="title-hero site-headline font-weight-bold mb-3">Hola Amigos, Perfildev</h1>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maxime quibusdam odio, saepe
                        repudiandae veritatis porro voluptatem quia.
                        <span id="app" class="text-primary font-weight-bolder"></span>
                        </span>
                    </p>

                    <button type="button" class="btn btn-primary btn-lg">Descargar Plantillas</button>
                </div>

                <div class="col-sm-6 ">
                    {{!-- content --}}
                </div>
            </div>
        </div>
        </div>
    </section>
    <!-- endhero-perfildev -->