    <!-- hero-perfildev -->
    <section class="hero" id="home">
        <div class="container h100">
            <div class="content-hero content-100">
                <div id="" class="col-sm-6">
                    <h1 class="title-hero site-headline font-weight-bold mb-3">Hola Amigos, Perfildev</h1>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maxime quibusdam odio, saepe
                        repudiandae veritatis porro voluptatem quia.
                        <span id="app" class="text-primary font-weight-bolder"></span>
                        </span>
                    </p>

                    <button type="button" class="btn btn-primary btn-lg">Descargar Plantillas</button>
                </div>

                <div class="col-sm-6 ">
                    <img src="../assets/img/perfildev-logo-dark.svg" width="110" height="auto"
                        class="d-inline-block align-top pb-3" alt="perfildev-logo-dark">
                    <h5 class="pb-2 font-weight-bolder">Iniciar sesión</h5>

                    <div class="input-group mb-3">
                        <input type="email" class="input-area">
                        <label class="label">Correo Electronico</label>
                    </div>

                    <div class="input-group mb-1">
                        <input type="password" class="input-area">
                        <label class="label">Contraseña</label>
                    </div>

                    <div class="input-group mb-3">
                        <a href="#" type="" class="text-primary text-decoration-none font-weight-bold">¿Has olvidado
                            tu correo electrónico?
                        </a>
                    </div>


                    <button type="button" class="btn btn-primary btn-lg">Iniciar</button>
                </div>
            </div>
        </div>
        </div>
    </section>
    <!-- endhero-perfildev -->