<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card">
                <div class="card-body">
                    <form action="/links/add" method="POST">
                    <div class="input-group mb-3">
                        <input type="text" class="input-add" name="title"  autofocus>
                        <label  for="inputField" class="label-add">Titulo</label>
                    </div>
                    <div class="input-group mb-3">
                        <input type="url" name="url" class="input-add">
                        <label   for="inputField" class="label-add">URL</label>
                    </div>
                     <div class="input-group mb-3">
                         <textarea name="description" rows="2" class="input-add"></textarea>
                         <label  for="inputField" class="label-add">descripcion</label>
                     </div>
                     <div class="form-group">
                         <button class="btn btn-primary btn-block">
                           Guardar
                         </button>
                     </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>