<div class="loader-page"></div>

{{!-- politicas pefildev --}}
<section class="pt-5 mt-5">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h1 class="font-weight-bold">Lorem ipsum dolor sit.</h1>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatem optio voluptate laborum
                    accusamus iusto placeat quis, deserunt exercitationem excepturi cum porro eveniet ipsam tempora
                    ullam quae dolorem beatae soluta vel?
                </p>
            </div>
            <div class="col-sm-4">
                <img src="../assets/img/perfildev-about.svg" alt="">
            </div>
        </div>
    </div>
</section>

<section class="m-5 p-5">
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
                    <div class="card-header">Header</div>
                    <div class="card-body">
                        <h5 class="card-title">Primary card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                    </div>
                </div>

            </div>
            <div class="col-sm-3">
                <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
                    <div class="card-header">Header</div>
                    <div class="card-body">
                        <h5 class="card-title">Primary card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
                    <div class="card-header">Header</div>
                    <div class="card-body">
                        <h5 class="card-title">Dark card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
                    <div class="card-header">Header</div>
                    <div class="card-body">
                        <h5 class="card-title">Dark card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>