<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>perfildev</title>

    <!-- css -->
    <link rel="stylesheet" href="/assets/css/bootstrap.css">
    <link rel="stylesheet" href="/assets/css/style.css">
    <!-- fonts -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&display=swap" rel="stylesheet">
    <!-- fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
</head>

<body>
    <!-- navbar-perfildev -->
    {{> navigation}}
    <!-- endnavbar-perfildev -->

    <!-- hero-perfildev -->
     {{> hero}}
    <!-- endhero-perfildev -->

    {{{ body }}}

    <script src="/assets/js/jquery-3.3.1.js"></script>
    <script src="/assets/js/popper-1.14.7.js"></script>
    <script src="/assets/js/bootstrap.js"></script>
    <script src="/assets/js/core.js"></script>
    <script src="/assets/js/typewriter.js"></script>
     <script src="/assets/js/form.js"></script>
</body>

</html>